#body 
{
    height: 100%;
    background: url("img/bg.jpg");
}

html
{
    height: 100%;
    background-color: black;
}

#btn_start
{
    width: 220px;
    height: 60px;
    border-radius: 0px;
    box-shadow: black 0.2em 0.2em 0.9em;
}

#start
{
    width: 160px;
    margin-top: 20%;
}

#menue
{
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

#logo_div
{
    width: 50%;
    background-color: black;
    height: 100px;
}

#r_menue
{
    width: 50%;
    background-color: black;
    height: 100px;
}

#logo
{
    font-weight: Verdana;
    font-size: 50px;
    color: white;
    margin-left: 20px;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

#navbar
{
    height: 100px;
    float: right;
    background-color: black;
}

.btn-group button{
    background-color:rgb(0, 0, 0);
    color: white;
}